@page "/QueryPage"
@using BlazorMapsCreator.Models
<h3>Query a Dataset with Web Feature Service</h3>

<Stack Horizontal="true" Tokens=@(new StackTokens() { ChildrenGap = new[] { 40.0 } }) Style="width:100%;">
    <StackItem>
        <DefaultButton @onclick="QueryAllCollections">Query all collections</DefaultButton>
    </StackItem>
</Stack>

<Stack Horizontal="true" Tokens=@(new StackTokens() { ChildrenGap = new[] { 40.0 } }) Style="margin-top:30px;width:70%;">
    <StackItem>
        <h4>All collections:</h4>
        <ul style="width:500px;">
            @if (allCollections != null)
            {

                @foreach (Collection col in allCollections.collections)
                {
                    <li>
                        <p>
                            <strong>@col.name</strong><br />
                            @col.description<br />
                        </p>
                        @foreach (BlazorMapsCreator.Models.Link link in col.links)
                        {
                            if (link.rel == "data")
                            {
                                <DefaultButton OnClick="(()=>QueryCollectionAsync(col.name, link.href))">Query this collection</DefaultButton>
                            }
                        }
                        <br /><br />
                    </li>
                }
            }
        </ul>
    </StackItem>
    <StackItem>
        <h4>Features:</h4>
        <ul style="width:300px;">
            @if (featureCollection != null)
            {
                @foreach (Feature f in featureCollection.features)
                {
                    <li>
                        Id: @f.id<br />
                        Name: @(f.properties.name ?? "-")
                    </li>
                }
            }
        </ul>
    </StackItem>
</Stack>


@if (!string.IsNullOrEmpty(errorMessage))
{
    <hr />
    <MessageBar MessageBarType="MessageBarType.Error">@errorMessage</MessageBar>
}
