@page "/QueryPage"
@using Azure.Maps.Creator.Models
<h3>Query a Dataset with Web Feature Service</h3>

<Stack Horizontal="true" Tokens=@(new StackTokens() { ChildrenGap = new[] { 40.0 } }) Style="width:100%;">
    <StackItem>
        <DefaultButton @onclick="QueryAllCollections">Query all collections</DefaultButton>
    </StackItem>
</Stack>

<Stack Horizontal="true" Tokens=@(new StackTokens() { ChildrenGap = new[] { 40.0 } }) Style="margin-top:30px;width:70%;">
    <StackItem>
        <h4>All collections:</h4>
        <ul style="width:500px;">
            @if (allCollections != null)
            {

                @foreach (CollectionInfo col in allCollections.Collections)
                {
                    <li>
                        <p>
                            <strong>@col.Name</strong><br />
                            @col.Description<br />
                        </p>
                        @foreach (Azure.Maps.Creator.Models.WfsEndpointLink link in col.Links)
                        {
                            if (link.Rel == "data")
                            {
                                <DefaultButton OnClick="(()=>QueryCollectionAsync(col.Name, link.Href))">Query this collection</DefaultButton>
                            }
                        }
                        <br /><br />
                    </li>
                }
            }
        </ul>
    </StackItem>
    <StackItem>
        <h4>Features:</h4>
        <ul style="width:300px;">
            @if (featureCollection != null)
            {
                @foreach (GeoJsonFeature f in featureCollection.Features)
                {
                    <li>
                        Id: @f.Id<br />
                        Name: @(f.Properties.ToString() ?? "-")
                    </li>
                }
            }
        </ul>
    </StackItem>
</Stack>


@if (!string.IsNullOrEmpty(errorMessage))
{
    <hr />
    <MessageBar MessageBarType="MessageBarType.Error">@errorMessage</MessageBar>
}
