@page "/UploadPage"

@using System
@using System.IO
@using System.Text
@using Microsoft.AspNetCore.Hosting


<h3>Upload a Drawing Package</h3>

<p>
<label>
    Upload either a zip file (containing the DWG file(s) and a manifest.json) or a GeoJson file<br /><br />
    <InputFile OnChange="@LoadFile" />
</label>
</p>
<br />
<Stack Horizontal="true" Tokens=@(new StackTokens() { ChildrenGap = new[] { 40.0 } }) Style="width:100%;">
    <StackItem>
        <DefaultButton @onclick="DataUploadStatus" Disabled="@uploadButtonDisabled">Upload Map Data Status</DefaultButton>
    </StackItem>
    <StackItem>
        <DefaultButton @onclick="MapDataMetadata" Disabled="@metadataButtonDisabled">Map Data Metadata</DefaultButton>
    </StackItem>
    <StackItem>
        <DefaultButton @onclick="DataDelete" Disabled="@deleteButtonDisabled">Delete Map Data</DefaultButton>
    </StackItem>
</Stack>

<hr />
<div>
    Identifier: @udid<br />
    @metadata<br />
</div>



